<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>175032608988-gqtf06em58ljhl0gfb18aenfgen18hif.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.175032608988-gqtf06em58ljhl0gfb18aenfgen18hif</string>
	<key>API_KEY</key>
	<string>AIzaSyA4hht8oQPbJl_EP8cE9-2om6NkUvenOHw</string>
	<key>GCM_SENDER_ID</key>
	<string>175032608988</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>E</string>
	<key>PROJECT_ID</key>
	<string>react-hooks-update-2a961</string>
	<key>STORAGE_BUCKET</key>
	<string>react-hooks-update-2a961.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:175032608988:ios:01e8d34d379f4adbc7ac19</string>
	<key>DATABASE_URL</key>
	<string>https://react-hooks-update-2a961-default-rtdb.firebaseio.com</string>
</dict>
</plist>